#Chapter 9

In [1]:
import pandas as pd
import sqlite3

##Read data from SQL database
`pd.read_sql` takes 2 arguments: a `SELECT` statement, and a database connection object. This is great because it means you can read from any kind of SQL database.

In [2]:
con = sqlite3.connect("data/weather_2012.sqlite")
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con)
df

   id            date_time  temp
0   1  2012-01-01 00:00:00  -1.8
1   2  2012-01-01 01:00:00  -1.8
2   3  2012-01-01 02:00:00  -1.8

Add an argument to set the index column of dataframe

In [5]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, index_col='id')
df

              date_time  temp
id
1   2012-01-01 00:00:00  -1.8
2   2012-01-01 01:00:00  -1.8
3   2012-01-01 02:00:00  -1.8

Also the index columns could be a list to take on multiple indexes

In [6]:
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, index_col=['id','date_time'])
df

                        temp
id date_time
1  2012-01-01 00:00:00  -1.8
2  2012-01-01 01:00:00  -1.8
3  2012-01-01 02:00:00  -1.8

##Write to SQLite database

Use `write_frame` for SQLite database.  
Explore `pd.io` for more functions [here](http://pandas.pydata.org/pandas-docs/stable/io.html).

In [7]:
weather_df = pd.read_csv('data/weather_2012.csv')
con = sqlite3.connect("data/test_db.sqlite")
con.execute("DROP TABLE IF EXISTS weather_2012")
weather_df.to_sql("weather_2012", con)

//anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1373: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  warnings.warn(_SAFE_NAMES_WARNING)

In [8]:
con = sqlite3.connect("data/test_db.sqlite")
df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4,101.26,"Freezing Drizzle,Fog"

Once data is in database, we can do arbitrary queries:

In [13]:
con = sqlite3.connect("data/test_db.sqlite")
df = pd.read_sql("SELECT * from weather_2012 ORDER BY Weather LIMIT 3", con, index_col='index')
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
index,,,,,,,,
67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25,101.74,Clear
114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25,100.71,Clear
115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25,100.80,Clear

##Connecting with other kinds of database

+ PostgreSQL:  
    `import psycopg2`  
    `con = psycopg2.connect(host="localhost")`  
    

+ MySQL:  
    `import MySQLdb`  
    `con = MySQLdb.connect(host="localhost", db="test")`

##Summary
+ `con = sqlite3.connect("data/weather_2012.sqlite")`  -- connect with database
+ `df = pd.read_sql("SELECT * from weather_2012 LIMIT 3", con, index_col=['id','date_time'])`  -- read data
+ `con.execute("DROP TABLE IF EXISTS weather_2012")`
  `weather_df.to_sql("weather_2012", con)`  -- write to SQLite database  
+ `import MySQLdb`  
  `con = MySQLdb.connect(host="localhost", db="test")`  -- connect with other kinds of database